<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="book"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Scan book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Parameters</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
